<h1>Recipes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= link_to (fa_icon "eye"), recipe %></td>
        <td><%= link_to (fa_icon "edit"), edit_recipe_path(recipe) %></td>
        <td><%= link_to (fa_icon "trash"), recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

